*{
  /* transition: all 0.3s; */
   width:100%;
}
body{
background-color: #ff329c; 
padding: 0;
margin: 0;
font-size: 200%;
}
.container{
width: 70%;
height: 99%;
}

h1,h2,p, #name{
    font: size 250%; 
    color: #0C0306;
    font-family: 'Anton', sans-serif;
    align-items:center;
    justify-content:center;  
    display:flex;
    flex-wrap:wrap;
}
h2,p, .btn{
    font-size: 60%;
    font-family: 'Poppins', sans-serif;
}
p,.name{
    font-size: 40%;
}
#image, .image{
    width:70%;
    height:40%;

}
.btn, #btnFinish{
    background: white;
    width: 60%;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.btn:hover{
    background: #ffc8dd;
    cursor: pointer;
    transform: scale(1.05);
}


footer{
    font-size: 100%;
}

div, form{
    align-items:center;
    justify-content:center;  
    display:flex;
    flex-wrap:wrap;
}