
    <label for="fname">¿Cómo te llamas?</label>
    <input type="text" id="fname"name="fname" placeholder="cómo te llamas">
    <button type="button"
       onclick="save();">Guardar</button><br>

     

   <button type="button"
     onclick="back();">Anterior</button>&ensp;
   <button type="button"onclick="selectQuestion();">Siguiente</button>&emsp;&emsp;
   <button type="button" onclick="results();">Terminar</button>

   <p id="qstns"></p>
 
   <div>
     <input type="radio" id="a1" name="ans" value="a1">
     <label for="a1" id="ans1"></label>
   </div>
   <div>
     <input type="radio" id="a2" name="ans" value="a2">
     <label for="a1" id="ans2"></label>
   </div>
   <div>
     <input type="radio" id="a3" name="ans" value="a3">
     <label for="a1" id="ans3"></label>
   </div>
     
   <p id="total"></p>

   <br>
   <button id="restart">Volver a jugar</button>
   <br>